BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> f66212d1b2fa

CREATE TABLE career_clusters (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    description VARCHAR, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_career_clusters_id ON career_clusters (id);

CREATE TABLE skills (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_skills_id ON skills (id);

CREATE TABLE students (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    grade INTEGER NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_students_id ON students (id);

CREATE TABLE users (
    id SERIAL NOT NULL, 
    full_name VARCHAR NOT NULL, 
    email VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    dob DATE NOT NULL, 
    is_minor BOOLEAN NOT NULL, 
    guardian_email VARCHAR, 
    role VARCHAR NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE assessments (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    submitted_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_assessments_id ON assessments (id);

CREATE TABLE careers (
    id SERIAL NOT NULL, 
    title VARCHAR NOT NULL, 
    description VARCHAR, 
    cluster_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(cluster_id) REFERENCES career_clusters (id)
);

CREATE INDEX ix_careers_id ON careers (id);

CREATE TABLE keyskills (
    id SERIAL NOT NULL, 
    name VARCHAR NOT NULL, 
    cluster_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(cluster_id) REFERENCES career_clusters (id)
);

CREATE INDEX ix_keyskills_id ON keyskills (id);

CREATE TABLE student_skill_map (
    id SERIAL NOT NULL, 
    student_id INTEGER NOT NULL, 
    skill_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(skill_id) REFERENCES skills (id), 
    FOREIGN KEY(student_id) REFERENCES students (id)
);

CREATE INDEX ix_student_skill_map_id ON student_skill_map (id);

CREATE TABLE assessment_responses (
    id SERIAL NOT NULL, 
    assessment_id INTEGER NOT NULL, 
    question_id VARCHAR NOT NULL, 
    answer VARCHAR NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assessment_id) REFERENCES assessments (id)
);

CREATE INDEX ix_assessment_responses_id ON assessment_responses (id);

CREATE TABLE assessment_results (
    id SERIAL NOT NULL, 
    assessment_id INTEGER NOT NULL, 
    recommended_stream VARCHAR, 
    recommended_careers VARCHAR, 
    generated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assessment_id) REFERENCES assessments (id), 
    UNIQUE (assessment_id)
);

CREATE INDEX ix_assessment_results_id ON assessment_results (id);

CREATE TABLE career_keyskill_association (
    career_id INTEGER, 
    keyskill_id INTEGER, 
    FOREIGN KEY(career_id) REFERENCES careers (id), 
    FOREIGN KEY(keyskill_id) REFERENCES keyskills (id)
);

CREATE TABLE student_keyskill_map (
    id SERIAL NOT NULL, 
    student_id INTEGER NOT NULL, 
    keyskill_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(keyskill_id) REFERENCES keyskills (id), 
    FOREIGN KEY(student_id) REFERENCES students (id)
);

CREATE INDEX ix_student_keyskill_map_id ON student_keyskill_map (id);

INSERT INTO alembic_version (version_num) VALUES ('f66212d1b2fa') RETURNING alembic_version.version_num;

-- Running upgrade f66212d1b2fa -> 3e8a4b9f2d31

ALTER TABLE assessment_results ADD COLUMN skill_tiers JSONB;

ALTER TABLE assessment_results ALTER COLUMN recommended_careers TYPE JSONB USING 
            CASE
              WHEN recommended_careers IS NULL OR btrim(recommended_careers) = ''
                THEN NULL
              WHEN btrim(recommended_careers) ~ '^(\[.*\]|\{.*\})$'
                THEN recommended_careers::jsonb
              ELSE to_jsonb(regexp_split_to_array(btrim(recommended_careers), '\s*,\s*'))
            END;

UPDATE alembic_version SET version_num='3e8a4b9f2d31' WHERE alembic_version.version_num = 'f66212d1b2fa';

-- Running upgrade 3e8a4b9f2d31 -> b52cd1604508

ALTER TABLE career_keyskill_association ADD COLUMN weight_percentage INTEGER DEFAULT '0' NOT NULL;

UPDATE alembic_version SET version_num='b52cd1604508' WHERE alembic_version.version_num = '3e8a4b9f2d31';

-- Running upgrade b52cd1604508 -> 65c24201a283

ALTER TABLE questions ADD COLUMN assessment_version VARCHAR DEFAULT 'v1' NOT NULL;

CREATE INDEX ix_questions_assessment_version ON questions (assessment_version);

ALTER TABLE questions ALTER COLUMN assessment_version DROP DEFAULT;

UPDATE alembic_version SET version_num='65c24201a283' WHERE alembic_version.version_num = 'b52cd1604508';

-- Running upgrade 65c24201a283 -> 6d561fe21dcd

ALTER TABLE students ADD COLUMN user_id INTEGER;

CREATE INDEX ix_students_user_id ON students (user_id);

ALTER TABLE students ADD CONSTRAINT uq_students_user_id UNIQUE (user_id);

ALTER TABLE students ADD CONSTRAINT fk_students_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='6d561fe21dcd' WHERE alembic_version.version_num = '65c24201a283';

-- Running upgrade 6d561fe21dcd -> 35d279b3686d

CREATE TABLE context_profile (
    id SERIAL NOT NULL, 
    assessment_id INTEGER NOT NULL, 
    student_id INTEGER NOT NULL, 
    assessment_version VARCHAR(32) NOT NULL, 
    scoring_config_version VARCHAR(32) NOT NULL, 
    ses_band VARCHAR(32) NOT NULL, 
    education_board VARCHAR(32) NOT NULL, 
    support_level VARCHAR(32) NOT NULL, 
    resource_access VARCHAR(32), 
    cps_score FLOAT DEFAULT '0' NOT NULL, 
    computed_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_context_profile_assessment_id FOREIGN KEY(assessment_id) REFERENCES assessments (id) ON DELETE CASCADE, 
    CONSTRAINT fk_context_profile_student_id FOREIGN KEY(student_id) REFERENCES students (id) ON DELETE CASCADE, 
    CONSTRAINT uq_context_profile_assessment_id UNIQUE (assessment_id)
);

CREATE INDEX ix_context_profile_assessment_id ON context_profile (assessment_id);

CREATE INDEX ix_context_profile_student_id ON context_profile (student_id);

CREATE INDEX ix_context_profile_assessment_version ON context_profile (assessment_version);

CREATE INDEX ix_context_profile_scoring_config_version ON context_profile (scoring_config_version);

CREATE INDEX ix_context_profile_student_version ON context_profile (student_id, scoring_config_version);

ALTER TABLE context_profile ALTER COLUMN cps_score DROP DEFAULT;

UPDATE alembic_version SET version_num='35d279b3686d' WHERE alembic_version.version_num = '6d561fe21dcd';

-- Running upgrade 35d279b3686d -> b839cc4f8ec1

ALTER TABLE assessments ADD COLUMN assessment_version VARCHAR(32) DEFAULT 'v1' NOT NULL;

ALTER TABLE assessments ADD COLUMN scoring_config_version VARCHAR(32) DEFAULT 'v1' NOT NULL;

CREATE INDEX ix_assessments_assessment_version ON assessments (assessment_version);

CREATE INDEX ix_assessments_scoring_config_version ON assessments (scoring_config_version);

ALTER TABLE assessments ALTER COLUMN assessment_version DROP DEFAULT;

ALTER TABLE assessments ALTER COLUMN scoring_config_version DROP DEFAULT;

UPDATE alembic_version SET version_num='b839cc4f8ec1' WHERE alembic_version.version_num = '35d279b3686d';

-- Running upgrade b839cc4f8ec1 -> 0ea029cf1a6d

ALTER TABLE assessment_responses ADD CONSTRAINT uq_assessment_responses_assessment_question UNIQUE (assessment_id, question_id);

UPDATE alembic_version SET version_num='0ea029cf1a6d' WHERE alembic_version.version_num = 'b839cc4f8ec1';

-- Running upgrade 0ea029cf1a6d -> 51e2c8c77f70

ALTER TABLE student_skill_scores ADD COLUMN hsi_score FLOAT;

ALTER TABLE student_skill_scores ADD COLUMN cps_score_used FLOAT;

ALTER TABLE student_skill_scores ADD COLUMN assessment_version VARCHAR(20);

UPDATE student_skill_scores sss
        SET
            assessment_version = a.assessment_version,
            scoring_config_version = a.scoring_config_version
        FROM assessments a
        WHERE sss.assessment_id = a.id
          AND (sss.assessment_version IS NULL OR sss.scoring_config_version IS NULL);;

UPDATE alembic_version SET version_num='51e2c8c77f70' WHERE alembic_version.version_num = '0ea029cf1a6d';

-- Running upgrade 51e2c8c77f70 -> 8baaf45df8af

ALTER TABLE assessment_responses ADD COLUMN idempotency_key VARCHAR(80);

ALTER TABLE assessment_responses ADD CONSTRAINT uq_assessment_responses_assessment_id_idempotency_key UNIQUE (assessment_id, idempotency_key);

CREATE INDEX ix_assessment_responses_assessment_id_idempotency_key ON assessment_responses (assessment_id, idempotency_key);

UPDATE alembic_version SET version_num='8baaf45df8af' WHERE alembic_version.version_num = '51e2c8c77f70';

-- Running upgrade 8baaf45df8af -> 7c0f2237500e

ALTER TABLE assessment_responses RENAME question_id TO question_code;

ALTER TABLE assessment_responses ADD COLUMN question_id INTEGER;

UPDATE assessment_responses
        SET question_id = (question_code::int)
        WHERE question_code ~ '^[0-9]+$';;

DO $$
        DECLARE bad_count integer;
        BEGIN
          SELECT COUNT(*) INTO bad_count
          FROM assessment_responses
          WHERE question_id IS NULL;

          IF bad_count > 0 THEN
            RAISE EXCEPTION 'PR33 migration blocked: % assessment_responses rows have NULL question_id after backfill', bad_count;
          END IF;
        END $$;;

ALTER TABLE assessment_responses ALTER COLUMN question_id SET NOT NULL;

ALTER TABLE assessment_responses DROP CONSTRAINT uq_assessment_responses_assessment_question;

ALTER TABLE assessment_responses ADD CONSTRAINT uq_assessment_responses_assessment_question UNIQUE (assessment_id, question_id);

ALTER TABLE assessment_responses ADD CONSTRAINT assessment_responses_question_id_fkey FOREIGN KEY(question_id) REFERENCES questions (id);

CREATE INDEX ix_assessment_responses_question_id ON assessment_responses (question_id);

UPDATE assessment_responses ar
        SET question_code = COALESCE(q.question_code, ar.question_code)
        FROM questions q
        WHERE q.id = ar.question_id;;

UPDATE alembic_version SET version_num='7c0f2237500e' WHERE alembic_version.version_num = '8baaf45df8af';

-- Running upgrade 7c0f2237500e -> 650d8e341a0f

ALTER TABLE assessment_results ADD COLUMN assessment_version VARCHAR(32);

ALTER TABLE assessment_results ADD COLUMN scoring_config_version VARCHAR(32);

ALTER TABLE assessment_results ADD COLUMN content_version VARCHAR(32);

CREATE INDEX ix_assessment_results_assessment_version ON assessment_results (assessment_version);

CREATE INDEX ix_assessment_results_scoring_config_version ON assessment_results (scoring_config_version);

CREATE INDEX ix_assessment_results_content_version ON assessment_results (content_version);

UPDATE assessment_results ar
        SET
            assessment_version = a.assessment_version,
            scoring_config_version = a.scoring_config_version,
            content_version = a.assessment_version
        FROM assessments a
        WHERE ar.assessment_id = a.id
          AND (
            ar.assessment_version IS NULL
            OR ar.scoring_config_version IS NULL
            OR ar.content_version IS NULL
          );;

UPDATE alembic_version SET version_num='650d8e341a0f' WHERE alembic_version.version_num = '7c0f2237500e';

-- Running upgrade 650d8e341a0f -> 8c612814971d

CREATE TABLE skill_aliases (
    id SERIAL NOT NULL, 
    entity_type VARCHAR(20) NOT NULL, 
    assessment_version VARCHAR(32), 
    alias VARCHAR(200) NOT NULL, 
    canonical_code VARCHAR(200) NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ux_skill_aliases_entity_version_alias_ci ON skill_aliases (entity_type, assessment_version, lower(alias));

CREATE INDEX ix_skill_aliases_entity_version_canonical_ci ON skill_aliases (entity_type, assessment_version, lower(canonical_code));

UPDATE alembic_version SET version_num='8c612814971d' WHERE alembic_version.version_num = '650d8e341a0f';

-- Running upgrade 8c612814971d -> e7cf6ce8be79

ALTER TABLE assessment_results ADD COLUMN contrib_trace JSONB;

CREATE INDEX ix_assessment_results_contrib_trace ON assessment_results USING gin (contrib_trace);

UPDATE alembic_version SET version_num='e7cf6ce8be79' WHERE alembic_version.version_num = '8c612814971d';

-- Running upgrade e7cf6ce8be79 -> c1fb35b70dc4

ALTER TABLE assessments ADD COLUMN question_pool_version VARCHAR(32) DEFAULT 'v1' NOT NULL;

CREATE INDEX ix_assessments_question_pool_version ON assessments (question_pool_version);

UPDATE alembic_version SET version_num='c1fb35b70dc4' WHERE alembic_version.version_num = 'e7cf6ce8be79';

-- Running upgrade c1fb35b70dc4 -> 870d6eef49cd

CREATE TABLE languages (
    code VARCHAR(20) NOT NULL, 
    name VARCHAR(80) NOT NULL, 
    native_name VARCHAR(80), 
    direction VARCHAR(3) DEFAULT 'ltr' NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (code)
);

ALTER TABLE languages ADD CONSTRAINT ck_languages_direction_ltr_rtl CHECK (direction IN ('ltr', 'rtl'));

INSERT INTO languages (code, name, native_name, direction, is_active) VALUES ('en', 'English', 'English', 'ltr', true);

INSERT INTO languages (code, name, native_name, direction, is_active) VALUES ('hi', 'Hindi', 'Óñ╣Óñ┐Óñ¿ÓÑìÓñªÓÑÇ', 'ltr', true);

INSERT INTO languages (code, name, native_name, direction, is_active) VALUES ('ta', 'Tamil', 'Ó«ñÓ««Ó«┐Ó«┤Ó»ì', 'ltr', true);


CREATE TABLE question_translations (
    id SERIAL NOT NULL, 
    assessment_version VARCHAR(50) NOT NULL, 
    question_id INTEGER NOT NULL, 
    locale VARCHAR(20) NOT NULL, 
    question_text TEXT NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE, 
    FOREIGN KEY(locale) REFERENCES languages (code) ON DELETE RESTRICT, 
    CONSTRAINT uq_qt_assessment_qid_locale UNIQUE (assessment_version, question_id, locale)
);

CREATE INDEX ix_qt_locale ON question_translations (locale);

CREATE INDEX ix_qt_assessment_version ON question_translations (assessment_version);

CREATE INDEX ix_qt_question_id ON question_translations (question_id);

CREATE TABLE explanation_translations (
    id SERIAL NOT NULL, 
    content_version VARCHAR(32) NOT NULL, 
    locale VARCHAR(20) NOT NULL, 
    explanation_key VARCHAR(120) NOT NULL, 
    text TEXT NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(locale) REFERENCES languages (code) ON DELETE RESTRICT, 
    CONSTRAINT uq_et_v_l_k UNIQUE (content_version, locale, explanation_key)
);

CREATE INDEX ix_et_locale ON explanation_translations (locale);

CREATE INDEX ix_et_content_version ON explanation_translations (content_version);

CREATE INDEX ix_et_explanation_key ON explanation_translations (explanation_key);

UPDATE alembic_version SET version_num='870d6eef49cd' WHERE alembic_version.version_num = 'c1fb35b70dc4';

-- Running upgrade 870d6eef49cd -> b1cd328d0d95

CREATE TABLE facet_translations (
    id SERIAL NOT NULL, 
    facet_id VARCHAR(120) NOT NULL, 
    locale VARCHAR(20) NOT NULL, 
    facet_name TEXT NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(facet_id) REFERENCES aq_facets (facet_id) ON DELETE RESTRICT, 
    FOREIGN KEY(locale) REFERENCES languages (code) ON DELETE RESTRICT, 
    CONSTRAINT uq_ft_facet_locale UNIQUE (facet_id, locale)
);

CREATE INDEX ix_ft_facet_id ON facet_translations (facet_id);

CREATE INDEX ix_ft_locale ON facet_translations (locale);

UPDATE alembic_version SET version_num='b1cd328d0d95' WHERE alembic_version.version_num = '870d6eef49cd';

-- Running upgrade b1cd328d0d95 -> 3293623a055c

UPDATE alembic_version SET version_num='3293623a055c' WHERE alembic_version.version_num = 'b1cd328d0d95';

-- Running upgrade 3293623a055c -> 5c50f1279676

CREATE TABLE consent_logs (
    id SERIAL NOT NULL, 
    student_id INTEGER NOT NULL, 
    student_user_id INTEGER NOT NULL, 
    guardian_email VARCHAR(320) NOT NULL, 
    token_jti VARCHAR(128), 
    status VARCHAR(32) NOT NULL, 
    reason VARCHAR(64), 
    message TEXT, 
    verified_at TIMESTAMP WITH TIME ZONE, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    ip VARCHAR(64), 
    user_agent TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_consent_logs_id ON consent_logs (id);

CREATE INDEX ix_consent_logs_student_id ON consent_logs (student_id);

CREATE INDEX ix_consent_logs_student_user_id ON consent_logs (student_user_id);

CREATE INDEX ix_consent_logs_guardian_email ON consent_logs (guardian_email);

CREATE INDEX ix_consent_logs_token_jti ON consent_logs (token_jti);

CREATE INDEX ix_consent_logs_status ON consent_logs (status);

CREATE INDEX ix_consent_logs_reason ON consent_logs (reason);

UPDATE alembic_version SET version_num='5c50f1279676' WHERE alembic_version.version_num = '3293623a055c';

-- Running upgrade 5c50f1279676 -> ec55ebc40479

CREATE TABLE assessment_questions (
    id SERIAL NOT NULL, 
    assessment_id INTEGER NOT NULL, 
    question_id INTEGER NOT NULL, 
    assessment_version VARCHAR(32) NOT NULL, 
    question_code VARCHAR(100) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assessment_id) REFERENCES assessments (id) ON DELETE CASCADE, 
    FOREIGN KEY(question_id) REFERENCES questions (id)
);

CREATE INDEX ix_assessment_questions_id ON assessment_questions (id);

CREATE INDEX ix_assessment_questions_assessment_id ON assessment_questions (assessment_id);

CREATE INDEX ix_assessment_questions_assessment_version ON assessment_questions (assessment_version);

CREATE TABLE associated_qualities_v (
    id SERIAL NOT NULL, 
    assessment_version VARCHAR(32) NOT NULL, 
    aq_code VARCHAR(120) NOT NULL, 
    name_en TEXT NOT NULL, 
    name_hi TEXT, 
    name_ta TEXT, 
    status VARCHAR(32) DEFAULT 'active' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_associated_qualities_v_version_code UNIQUE (assessment_version, aq_code)
);

CREATE INDEX ix_associated_qualities_v_id ON associated_qualities_v (id);

CREATE INDEX ix_associated_qualities_v_assessment_version ON associated_qualities_v (assessment_version);

CREATE INDEX ix_associated_qualities_v_aq_code ON associated_qualities_v (aq_code);

CREATE TABLE aq_facets_v (
    id SERIAL NOT NULL, 
    assessment_version VARCHAR(32) NOT NULL, 
    facet_code VARCHAR(120) NOT NULL, 
    aq_code VARCHAR(120) NOT NULL, 
    name_en TEXT NOT NULL, 
    name_hi TEXT, 
    name_ta TEXT, 
    description_en TEXT, 
    description_hi TEXT, 
    description_ta TEXT, 
    status VARCHAR(32) DEFAULT 'active' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_aq_facets_v_version_facet UNIQUE (assessment_version, facet_code), 
    CONSTRAINT fk_aq_facets_v_version_aq FOREIGN KEY(assessment_version, aq_code) REFERENCES associated_qualities_v (assessment_version, aq_code) ON DELETE CASCADE
);

CREATE INDEX ix_aq_facets_v_id ON aq_facets_v (id);

CREATE INDEX ix_aq_facets_v_assessment_version ON aq_facets_v (assessment_version);

CREATE INDEX ix_aq_facets_v_facet_code ON aq_facets_v (facet_code);

CREATE INDEX ix_aq_facets_v_aq_code ON aq_facets_v (aq_code);

CREATE TABLE question_facet_tags_v (
    id SERIAL NOT NULL, 
    assessment_version VARCHAR(32) NOT NULL, 
    question_code VARCHAR(100) NOT NULL, 
    facet_code VARCHAR(120) NOT NULL, 
    tag_weight INTEGER DEFAULT '1' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_question_facet_tags_v_version_question_facet UNIQUE (assessment_version, question_code, facet_code), 
    CONSTRAINT fk_question_facet_tags_v_version_facet FOREIGN KEY(assessment_version, facet_code) REFERENCES aq_facets_v (assessment_version, facet_code) ON DELETE CASCADE
);

CREATE INDEX ix_question_facet_tags_v_id ON question_facet_tags_v (id);

CREATE INDEX ix_question_facet_tags_v_assessment_version ON question_facet_tags_v (assessment_version);

CREATE INDEX ix_question_facet_tags_v_question_code ON question_facet_tags_v (question_code);

CREATE INDEX ix_question_facet_tags_v_facet_code ON question_facet_tags_v (facet_code);

UPDATE alembic_version SET version_num='ec55ebc40479' WHERE alembic_version.version_num = '5c50f1279676';

-- Running upgrade ec55ebc40479 -> 11ec2ee927be

CREATE TABLE question_student_skill_weights (
    id SERIAL NOT NULL, 
    question_id INTEGER NOT NULL, 
    skill_id INTEGER NOT NULL, 
    weight NUMERIC(6, 4) NOT NULL, 
    source VARCHAR(200), 
    facet_id VARCHAR(50), 
    aq_id VARCHAR(50), 
    PRIMARY KEY (id), 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE, 
    FOREIGN KEY(skill_id) REFERENCES skills (id), 
    CONSTRAINT question_student_skill_weights_question_id_skill_id_key UNIQUE (question_id, skill_id)
);

CREATE INDEX ix_question_student_skill_weights_id ON question_student_skill_weights (id);

CREATE INDEX ix_question_student_skill_weights_question_id ON question_student_skill_weights (question_id);

CREATE INDEX ix_question_student_skill_weights_skill_id ON question_student_skill_weights (skill_id);

CREATE TABLE skill_keyskill_map (
    id SERIAL NOT NULL, 
    skill_id INTEGER NOT NULL, 
    keyskill_id INTEGER NOT NULL, 
    weight FLOAT DEFAULT 1.0 NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(skill_id) REFERENCES skills (id), 
    FOREIGN KEY(keyskill_id) REFERENCES keyskills (id), 
    CONSTRAINT uq_skill_keyskill UNIQUE (skill_id, keyskill_id)
);

CREATE INDEX ix_skill_keyskill_map_id ON skill_keyskill_map (id);

CREATE INDEX ix_skill_keyskill_map_skill_id ON skill_keyskill_map (skill_id);

CREATE INDEX ix_skill_keyskill_map_keyskill_id ON skill_keyskill_map (keyskill_id);

UPDATE alembic_version SET version_num='11ec2ee927be' WHERE alembic_version.version_num = 'ec55ebc40479';

COMMIT;

